<% layout('layouts/boilerplate') %>
    <h1>Edit Book</h1>
    <form action="/books/<%=book._id%>?_method=PUT" method="post">
        <section>
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="title" name="book[title]" value="<%= book.title %>">    
        </section>
        <section>
            <label for="author">Author</label>
            <input type="text" id="author" placeholder="author" name="book[author]" value="<%= book.author %>">    
        </section>
        <section>
            <label for="year">Published Year</label>
            <input type="text" id="year" placeholder="year" name="book[year]" value="<%= book.year %>">    
        </section>
        <section>
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" placeholder="isbn" name="book[isbn]" value="<%= book.ISBN %>">    
        </section>
        <section>
            <label for="comment">Comment Text</label>
            <br>
            <textarea id="comment" cols="30" row="10" placeholder="comment" name="book[comment]" value="<%= book.comments %>"></textarea>    
        </section>
        <button>Update Book</button>
    </form>
    <a href="/books/<%= book.id %>">Back To Book</a>