<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
</head>
<body>
    <h1>Book id : <%= book._id %></h1>
    <ul>
        <li>Title  : <%= book.title %></li>
        <li>Author :<%= book.author %></li>
        <li>Published Year :<%= book.year %></li>
        <li>ISBN :<%= book.ISBN %></li>
        <li>LastChanged :<%= book.date %></li>
        <li>Comments :</li>
        <ul>
            <% for(let comment of book.comments) {%>
                <li><%= comment %></li>
            <% } %>
        </ul>
    </ul>
    <section>
        <form action="/books/<%= book._id %>/newcomment" method="post">
            <textarea id="comment" cols="30" row="10" placeholder="comment" name="comment">

            </textarea>
            <br>
            <button>Add new comment</button>
        </form>
    </section>
    <section>
        <form action="/books/<%= book._id %>/?_method=DELETE" method="post">
            <button >Delete Book</button>
        </form>
    </section>
    <a href="/books">All Books</a>
    <a href="/books/<%= book._id %>/edit">Edit Book</a>
</body>
</html>